---
layout: "base.njk"
---
{% mermaid_js %}
<article class="main-article">
    <div class="container container--narrow flow">
        <h1 class="article-title text-center">
            {{ title }}
        </h1>
        {{content | safe}}
    </div>
</article>