{# Hamburger menu for mobile #}
{# https://stackoverflow.com/questions/50156069/how-can-i-make-my-existing-responsive-navigation-bar-into-a-hamburger-menu-for-s #}

<header class="page-header">

    <div class="container">
        <div class="page-header__content">
            <div>
                <a href="/index" class="logo">Robert Gregg</a>
            </div>

            <nav>
                <ul role="list" class="nav-list flex-group">
                    <li class="hamburger">hamburger</li>
                    {% for link in collections.sitepage | sort(attribute='data.order') %}
                    <li>
                        {% if page.url==link.url %}
                        <div class="nav-item">
                            <a class="nav-link active" href="{{ link.url }}"> <i class="{{ link.data.icon }} active"></i> {{ link.data.title }}</a>
                        </div>
                        {% else  %}
                        <div class="nav-item">
                            <a class="nav-link" href="{{ link.url }}"> <i class="{{ link.data.icon }}"></i> {{ link.data.title }}</a>
                        </div>
                        {% endif %}
                    </li>
                    {%- endfor %}
                </ul>
            </nav>
        </div>
    </div>

    
</header>