---
title: "Blog"
layout: "base.njk"
tags: "sitepage"
icon: "fa-solid fa-pen-to-square"
order: 2
---

<div class="section">
    <h1 class="section-title text-center">Blog Posts</h1>

    <div class="cards">
        {% for item in collections.post | reverse %}
            {% include "card-snippet.njk" %}
        {% endfor %}
    </div>
</div> 