---
title: "CV"
layout: "base.njk"
tags: "sitepage"
icon: "fa-solid fa-file"
order: 3
---

<div class="section">
    <p style="text-align:center">
        <object data="/assets/documents/CV.pdf" width="80%" height="750"> </object> 
    </p>
</div>


