---
title: "Home"
layout: "base.njk"
tags: "sitepage"
icon: "fa-solid fa-house"
order: 1
---

<section class="hero">
    <div class="container flow">
        <div class="hero__content flow">
            <h1 class="section-title">Welcome!</h1>
            <p>I’m a postdoctoral researcher working in the <a href="https://benos.epidemiology.phhp.ufl.edu/">Benos Lab</a>. My current research focuses on combining causal discovery algorithms with supervised machine learning techniques to investigate early COPD progression. The goal is to differentiate people whose disease will rapidly advance from those where the disease is maintained.</p>
            <p>My PhD research was focused on building multiscale mathematical models to understand how the innate immune system responds to disease. I have constructed models that investigated granuloma formation in tuberculosis, DNA detection in the cGAS pathway, and metabolic shifting during sepsis.</p>
            <p>Below are some of my recent publications, or you can go to the blog page to see my most recent posts.</p>
            <div class="flex-group">
                <a href="#featured-articles" class="btn btn--primary">Featured publications</a>
                <a href="/blog" class="btn btn--neutral">Blog Posts</a>
            </div>
        </div>

        <div class="profile text-center">

            <img src="/assets/images/me.jpg" alt="" class="hero__image">
            
            <p>Postdoctoral Researcher</p>

            <p>University of Florida</p>

            <ul role="list" class="social">
                <li class="social-item">
                    <a class="social-link" href="mailto:%72%6F%62%77%67%72%65%67%67@%67%6D%61%69%6C.%63%6F%6D"
                        title="Email">
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
                <li class="social-item">
                    <a class="social-link"
                        href="https://scholar.google.com/citations?user=8j4b_MsAAAAJ&hl=en" target="_blank"
                        title="Google Scholar">
                        <i class="ai ai-google-scholar"></i>
                    </a>
                </li>
                <li class="social-item">
                    <a class="social-link" href="https://www.linkedin.com/in/robert-gregg-30a6a9a6/" target="_blank"
                        title="Linkedin">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li class="social-item">
                    <a class="social-link" href="https://github.com/RobertGregg" target="_blank" title="Github">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li class="social-item">
                    <a class="social-link" href="https://twitter.com/RobertWGregg" target="_blank" title="Twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
            </ul>
          
            
        </div>
    </div>
        
        
</section>

<section id="featured-articles" class="featured-articles">
    <div class="container flow">
        <h2 class="section-title text-center ">Featured articles</h2>
        <ul role="list" class="articles__list flow">
            {% for paper in papers | sort(reverse=true, attribute="year")%}
            {% if paper.featured %}
                {% include "article-snippet.njk" %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>
