---
title: "Publications"
layout: "base.njk"
tags: "sitepage"
icon: "fa-solid fa-book"
order: 4
---

<div class="section container">
    <h1 class="section-title">Publications</h1>

    <ul role="list" class="articles__list flow">
        {% for paper in papers | sort(reverse=true, attribute='year')%}
            {% include "article-snippet.njk" %}
        {% endfor %}
    </ul>
</div>
